# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\jonas\OneDrive - UC Leuven-Limburg\2020-2021\Semester 2\Project 1\Week 2\Web Branch\project1_woordenlijst_groep7\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
